services:

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: ${FRONTEND_CONTAINER_NAME}
    restart: always
    networks:
      - taskflow_net
    volumes:
      - ./frontend:/app
      - app/node_modules
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:5173 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    container_name: ${BACKEND_CONTAINER_NAME}
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy
    restart: always
    networks:
      - taskflow_net
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:3000/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  db:
    image: postgres:15-alpine
    container_name: ${DB_CONTAINER_NAME}
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db/init:/docker-entrypoint-initdb.d
    ports:
      - "${DB_HOST_PORT}:5432"
    restart: always
    networks:
      - taskflow_net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
  pgAdmin:
    depends_on:
      - db
    image: dpage/pgadmin4:9.10
    container_name: ${PGADMIN_CONTAINER_NAME}
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "8080:80"
    volumes:
      - ./pgadmin/var/lib/pgadmin
    restart: always
    networks:
      - taskflow_net
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

networks:
  taskflow_net:
    name: ${TASKFLOW_NETWORK_NAME}
    driver: bridge

volumes:
  pgdata:
    name: ${DB_VOLUME_NAME}
  pgadmin:
    name: ${PGADMIN_VOLUME_NAME}