node_modules
dist
build
.git
.gitignore
.vscode
.env
.env.local
.env*.local
*.log
logs/
tests/
coverage/
.DS_Store
.idea/
.eslintignore
docker-compose*
Dockerfile*
README.md
.prettierrc
.eslintrc*
tsconfig.json
jest.config.js
